<main id="main-checkout-page">
<h1>Checkout</h1>
<div id="checkout-container">
    <div id="checkout-form">
        <h2>CUSTOMER DETAILS</h2>
        <form name="checkout-form" method="POST" action="/checkout"> 
            <input type="text" id="name" name="userName" placeholder="Enter your name" required/>
            <br>
            <input type="email" id="email" name="userEmail" placeholder="Enter your email address" required/>

            <h2>WOULD YOU LIKE TO JOIN AS A MEMBER?</h2>
            <p>Members get unlimited classes, for a low monthly price.</p>

            <input type="radio" id="Yes" name="wantsMembership" value="true" required/>
            <label for="Yes">Yes</label>
            <input type="radio" id="No" name="wantsMembership" value="false" checked required/>
            <label for="No">No</label>
            <br>
            <select id="pass_types" name="userPass" disabled required><!--TODO: do we need required for this?-->
                <option value="monthly">Monthly Pass - $75/month </option>
                <option value="yearly">Yearly Pass - $900/year </option>
            </select>

            <h2>PAYMENT INFORMATION</h2>
            <input type="text" id="card_num" name="userCreditcardNum" placeholder="Enter credit card number" required/>
            <input type="text" id="card_expiry" name="userCreditcardExpiry" placeholder="Enter expiry [mm/yyyy]" required/>

            <button type="submit">PAY</button>
        </form>
        {{#if errMsg}}
        <p id="form-results">{{errMsg}}</p>
        {{/if}}
    </div>

    <div id="cart-summary">
        <h2>Cart</h2>
        <!--TODO: display cart items-->
        <div id="cart-items">
            {{#each cart}}
            <div id="cart-item">
                <div id="cart-item-details">
                    <p>{{this.class_name}} with {{this.instructor_name}}</p>
                    <p>{{this.class_length}} min</p>
                </div>
                <form method="POST" action="/checkout/delete/{{this._id}}">   
                <div id="cart-item-remove">
                    <button onclick = "removeButtonClicked()('{{_id}}')" id="{{_id}}">REMOVE</button>
                </div>
                </form>
            </div>
            {{/each}}
        </div>
        <hr>
        <div class="calculations" id="subtotal">
            <p>Subtotal : </p>
            <p id="subtotal_amt">${{subtotal}}</p>
        </div>
        <div class="calculations" id="tax">
            <p>Tax : </p>
            <p id="tax_amt">${{tax}}</p>
        </div>
        <hr>
        <div class="calculations" id="total">
            <p>Total : </p>
            <p id="total_amt">${{total}}</p>
        </div>
    </div>
</div>
</main>