<main id="main-all-orders">
<h1>Orders</h1>
<div id="orders-container">
    {{#each orders}}
    <div id="order-card">
        <h2>Order Confirmation # : {{_id}}</h2>
        <h3>User Name :</h3> <p>{{name}}</p>
        <h3>User Email :</h3> <p>{{email}}</p>
        <h3>Enrolled classes :</h3>
        {{#each enrolledClasses}}
         <p>{{class_name}}</p>
        {{/each}}
        <h3>Amount Paid :</h3> <p>${{amount_paid}}</p>
    </div>
    {{/each}}
</div>
</main>